@model TimeSheets.Web.ViewModels.ShiftVM.ShiftIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Shifts</h2>


<table>
    <tr>
        <th></th>
    </tr>
    

@foreach (var item in Model.ShiftList) {
    <tr>
        <td>
            @item.StartDateTime.ToString("HH:mm") - @item.FinishDateTime.ToString("HH:mm")
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>