@model TimeSheets.Web.ViewModels.HomeVM.HomeIndexViewModel

@{
    ViewBag.Title = "TimeSheets";
}

<div class="container">
    @Html.ActionLink("Shifts", "Index", "Shift", null, new { @class = "btn btn-info" })
</div>

